#contenedor_intro_parte_1 {width:100%;table-layout:fixed;border-collapse:collapse;}
#intro_parte_1a {width:50%;}
#intro_parte_1b {width:50%;text-align:justify;color:#535353;font-size:15px;font-weight:lighter;}
#contenedor_intro_parte_1 .registros td img {vertical-align:middle;}

.registrate{color:#591b1a;text-decoration:none;font-size:16px;display:block;}

div#beneficios {width:404px;background:url("../img/fondo_beneficios.gif") repeat-y #882a29;color:#FFF;border-radius:10px;padding:5px;margin: auto;}
div#beneficios ul {margin:0;padding:0;}
div#beneficios ul li {text-align: left;list-style-type: none;margin-top:2px;}
div#beneficios ul li:before {content: "-";}
div#beneficios a {text-decoration: underline;display:block;text-align:right;color:#FFF;}
