#nav{display: inline-block;list-style:none !important;border:none;top:0;width:100%;font-size:11px;height:24px;line-height:24px;z-index:597;margin-bottom:7px;padding:0;text-align:justify;background:#882a29 url('../img/menu_fondo.png') repeat-x;}
#nav li{float:left;height:24px;line-height:24px;color:#FFF;white-space:nowrap; padding: 0px 10px;}
#nav li.hover,#nav li:hover{cursor:default;position:relative;z-index:599;}
#nav li a, #nav li span{color:#FFF;text-decoration:none;display:block;font-weight:bold;height:24px;line-height:24px;}
#nav li a:hover{color:#DDD;}
#nav li.seleccionado a{font-size:12px;}

#nav li ul{background-color:#FFF;border:1px solid #999;padding:7px 0;left:0;position:absolute;top:100%;visibility:hidden;width:160px;z-index:598;}
#nav li:hover ul, #nav li.hover ul{visibility:visible;}
#nav li.hover,#nav li:hover,.lidestacado{background-color:#EC454E;}

#menu_busqueda_rapida {border:1px solid black; border-radius:5px;height:20px;line-height:20px; padding:0px;margin-top: 1px;}
