#controlador_pasos {position: relative; margin-top: 10px; width: 100%; height: 45px;clear: both;}
#controlador_pasos #paso_anterior {position: absolute; left:0;}
#controlador_pasos #paso_siguiente {position: absolute; right:0;}
#controlador_pasos img {vertical-align: middle;}
#controlador_pasos a {color:#AAA; font-size: 20px; text-decoration: none; display: block;}

#pasos {width: 100%;background-color: #FFF;float: left;clear: both;margin-bottom: 35px; margin-top: 17px;}
.paso {float: left;margin-right: 20px;}
.paso .titulo {color: #111;width: 100%;text-align: center;}
.paso .numero {background: url('../img/fondo_paso.gif') no-repeat center; width:40px; height:40px; line-height: 40px; width: 64px; text-align: center;}
.paso .numero a {color:#5b0504; font-size: 20px; text-decoration: none; display: block;}
.paso .resaltado {background-image: url('../img/fondo_paso_resaltado.gif');}
.paso .resaltado a {color:#FFF;}
.paso .texto {color: #666; width: 64px; height: 34px;line-height: 90%; margin-top: 5px;}
.paso .porcentaje {color:#5b0504; width: 50px; height: 16px; border: 1px solid #111;margin: 0 auto;}
.paso .porcentaje .barra {background-color: #ccc;float: left; height:16px;}
.paso .porcentaje .valor {float: left;text-align: center;width: 50px;}
#contenido {border:2px #CCC solid; border-radius:10px;color:#666;padding-left:50px;padding-right:12px;padding-top:15px;padding-bottom:15px;}
#TituloGeneral{text-align:left;margin-left:15px;}
.grupo {border-bottom:1px #ccc solid;padding-bottom:15px;margin-bottom:15px;text-align: left;}
.titulo {color:#666;text-align:left;font-size:14px;}
.numeroTitulo {background-color:#5b0504;color:#FFF;padding:2px 4px;}
.subtitulo {padding-left: 25px; color:#5b0504;}
.tituloCampo:before {content:"►";font-size:14px;color:#5b0504;}
.tituloCampo{padding-left:10px;}
.subtituloCampo{padding-left:10px;font-size:12px;color:#5b0504;padding-left:25px;}
.campo {}
.vista {}
.lazo {}
.lazoCampos {border:1px #CCC solid; border-radius:10px;padding-left:15px;padding-right:12px;padding-top:15px;padding-bottom:15px;}
.lazoVista {border:1px #aaa solid; border-radius:10px;padding-left:15px;padding-right:12px;padding-top:15px;padding-bottom:15px;background-color:#EEE;margin-bottom: 5px;margin-top: 10px;}
.lazoControles {text-align: right !important;}
.lazoControles .boton {display: inline-block !important; border: 1px solid #666;border-radius: 5px;text-align: center;width: 85px !important; height: 25px !important;line-height: 25px;}
.lazoControles .boton a {color: #F7F7F7 !important;text-decoration: none;display: block;}

input[type=text] {border-radius: 8px;padding: 1px 4px;background-color: #DDD; width: 250px; border: 1px #666 solid;}
#paso3_cargos_funciones,#paso6_info_adicional_informacion{width: 500px; height: 300px;margin: auto;display: block;border-radius: 10px;}