#controlador_pasos {position: relative; margin-top: 10px; width: 100%; height: 45px;clear: both;}
#controlador_pasos #paso_anterior {position: absolute; left:0;}
#controlador_pasos #paso_siguiente {position: absolute; right:0;}
#controlador_pasos img {vertical-align: middle;}
#controlador_pasos a {color:#AAA; font-size: 20px; text-decoration: none; display: block;}

#pasos {width: 100%;background-color: #FFF;float: left;clear: both;margin-bottom: 35px; margin-top: 17px;}
#pasos .paso {float: left;margin-right: 20px;}
#pasos .paso .titulo {color: #111;width: 100%;text-align: center;}
#pasos .paso .numero {background: url('../img/fondo_paso.gif') no-repeat center; width:40px; height:40px; line-height: 40px; width: 64px; text-align: center;}
#pasos .paso .numero a {color:#813b3a; font-size: 20px; text-decoration: none; display: block;}
#pasos .paso .resaltado {background-image: url('../img/fondo_paso_resaltado.gif');}
#pasos .paso .resaltado a {color:#FFF;}
#pasos .paso .texto {color: #666; width: 64px; height: 34px;line-height: 90%; margin-top: 5px;}
#pasos .paso .porcentaje {color:#813b3a; width: 50px; height: 16px; border: 1px solid #111;margin: 0 auto;}
#pasos .paso .porcentaje .barra {background-color: #ccc;float: left; height:16px;}
#pasos .paso .porcentaje .valor {float: left;text-align: center;width: 50px;}
#contenido {color:#6d6d6d;border:1px solid #BDBABA;border-radius:8px;padding: 5px;}
#contenido #TituloGeneral{text-align:left;margin-left:15px;}
#contenido .grupo {border-bottom:1px #ccc solid;padding-bottom:15px;margin-bottom:15px;text-align: left;}
#contenido .titulo {color:white;text-align:left;font-size:14px;line-height: 14px;background-color:#813b3a; border:1px #8C8B8B solid;padding:4px 8px;margin-bottom:8px;}
#contenido .numeroTitulo {background-color:#813b3a;color:#FFF;padding:2px 4px;}
#contenido .subtitulo {padding-left: 25px; color:#813b3a;}
#contenido .tituloCampo:before {content:"►";font-size:14px;color:#813b3a;}
#contenido .tituloCampo{padding-left:10px;display: inline-block;width:190px;}
#contenido .subtituloCampo{padding-left:10px;font-size:12px;color:#813b3a;padding-left:25px;}
#contenido .campo {}
#contenido .vista {}
#contenido .lazo {}
#contenido .visualTexto{color: #000;}
#contenido table{border-collapse:collapse;}
#contenido .lazoCampos {border:1px #CCC solid; border-radius:10px;padding-left:15px;padding-right:12px;padding-top:15px;padding-bottom:15px;}
#contenido .lazoVista {border:2px #aaa solid; border-radius:10px;background-color:#EEE;margin-bottom: 5px;margin-top: 10px;position: relative;font-size: 11px;}
#contenido .lazoVistaVirtual {border:none; border-radius:0;background-color:#EEE;position: relative;font-size: 11px;margin:0 30px;min-height:18px;}
#contenido .lazoVistaPeque {display:inline-block;padding:2px 4px;float:left;margin-right:20px;}
#contenido .lazoVistaPeque table {float:left;}
#contenido .lazoVistaPeque span {white-space: nowrap;}
#contenido .lazoVista table td {vertical-align: top;padding:0 2px;}
#contenido .lazoVistaBolita{font-size:24px;color:#813b3a; margin: 0 2px;float: left;line-height:18px;height:20px;}
#contenido .lazoVistaControles{position:absolute;right:-20px;top:-5px;}
#contenido .lazoVistaControles a {display:inline-block;}
#contenido .lazoControles {text-align: right !important;}
#contenido .lazoControles .boton {display: inline-block !important; border: 1px solid #666;border-radius: 5px;text-align: center;width: 55px !important; height: 20px !important;line-height: 20px; font-size:12px;}
#contenido .lazoControles .boton a {color: #F7F7F7 !important;text-decoration: none;display: block;}

#contenido .grupoVisualizacion {border:2px #CCC solid; border-radius:10px;padding-left:15px;padding-right:12px;padding-top:3px;padding-bottom:15px;margin-bottom: 15px;}

#contenido input[type=text] {border-radius: 6px;padding: 2px 4px;background-color: white; width: 250px; border: 1px #afadad solid;}
#contenido input:focus {background-color: #FFF;}
#contenido textarea#paso3_cargos_funciones,textarea#paso6_info_adicional_informacion,textarea#paso0_perfil_profesional_descripcion{width: 590px; height: 100px;margin: auto;display: block;border-radius: 10px;}
.textarea {width: 570px; min-height: 100px;border-radius: 10px;border:1px solid black;padding:10px;}

#contenido h1,h2,h3 {color:black;}
#contenido h1 {margin-top:1px;}
#contenido h2:before {content:"►";font-size:14px;color:#813b3a;}
#contenido h2 {font-size: 13px;}

#contenido select:disabled {color:black;background-color:#D3D3D3;border:none;}

#contenido .editarPaso{background-color: #f7f6f6; color: #813b3a; display:inline-block; border-radius: 5px; text-decoration: none; font-size:10px;height:14px;line-height: 14px;float: right; padding: 1px 5px;}

.cargar-archivo {background-color: #640604;border-radius:5px; border:1px #bdbaba solid; color: #bdbaba;text-align:center;padding:2px;width:150px;display:inline-block}

.padpln {padding-left:150px;}
