ErrorDocument 404 /index.php?peticion=error

RewriteEngine on
RewriteBase /

<ifModule mod_gzip.c>
  mod_gzip_on Yes
  mod_gzip_dechunk Yes
</ifModule>
<ifModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 2 year"
</ifModule>
<ifModule mod_headers.c>
    Header set Cache-Control "private"
    Header unset Last-Modified
    Header unset ETag
</ifModule>
FileETag None

RewriteEngine on
RewriteCond %{REQUEST_URI} ^/crop_([0-9]+)_([0-9]+)_([a-za-z0-9]{40}|sinfoto)(\.jpg){0,1}$
RewriteCond %{DOCUMENT_ROOT}/pool/img/c/%1_%2_%3 -f
RewriteRule ^crop_([0-9]+)_([0-9]+)_([a-za-z0-9]{40}|sinfoto)(\.jpg){0,1}$ %{DOCUMENT_ROOT}/pool/img/c/$1_$2_$3 [L]
RewriteRule ^crop_([0-9]+)_([0-9]+)_([a-za-z0-9]{40}|sinfoto)(\.jpg){0,1}$ imagen.php?crop&ancho=$1&alto=$2&hash=$3 [L]

RewriteCond %{REQUEST_URI} ^/imagen_([0-9]+)_([0-9]+)_([a-za-z0-9]{40}|sinfoto)(\.jpg){0,1}$
RewriteCond %{DOCUMENT_ROOT}/pool/img/m/%1_%2_%3 -f
RewriteRule ^imagen_([0-9]+)_([0-9]+)_([a-za-z0-9]{40}|sinfoto)(\.jpg){0,1}$ %{DOCUMENT_ROOT}/pool/img/m/$1_$2_$3 [L]
RewriteRule ^imagen_([0-9]+)_([0-9]+)_([a-za-z0-9]{40}|sinfoto)(\.jpg){0,1}$ imagen.php?ancho=$1&alto=$2&hash=$3 [L]

RewriteRule ^(paypal|ajax|gotofacebook|carga)$ $1.php [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(inicio|buscar|mensajes|empresas|estadisticas|faqs|ayuda|paso)\.html$ index.php?peticion=$1 [L,QSA]